body{
/*
    background: url("https://www.dropbox.com/s/q3ozyvyuzbh9qkv/Austria.jpg?raw=1");
    background-size: 100vh;
    background-repeat: repeat-x;
    animation: shift 45s linear infinite;*/
    color: white;
    background-color: black;

}

.navbar-fixed-left {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 25px;
    align-content: center;
}

.navbar-fixed-left .navbar-nav > li > a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.navbar-fixed-left .navbar-nav > li > a:hover {
    color: #f1f1f1;
}

.navbar > a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.navbar a:hover {
    color: #f1f1f1;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}


.main{
    font-size: 25px;
    margin-left:160px;
}

.carousel-item {
    height: 100vh;
}
.carousel-caption{
    z-index:10;
    text-align:center;
    top:50%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .navbar-fixed-left {
        width: 100px;
        padding-top: 15px;
        font-size: 18px;
    }
    .main{
        margin-left:100px;
        font-size: 18px;
        padding: 8px 8px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

}
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}


/*
.col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px)
*/


